.hiw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: var(--space-20) var(--space-4);
  gap: var(--space-8);
  min-height: 100vh;
}
.hiw .hiw__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  width: 100%;
}
.hiw .hiw__content .hiw__title {
  font-size: var(--text-4xl);
  font-weight: 700;
  color: var(--text);
}
.hiw .hiw__content .hiw__subtitle {
  font-size: var(--text-lg);
  color: var(--text-muted);
}
.hiw .hiw__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-8);
  width: 100%;
}
.hiw .hiw__cards .hiw__card {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: var(--space-8);
  background-color: var(--bg);
  padding: var(--space-6);
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
}
.hiw .hiw__cards .hiw__card .hiw__card-title {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  font-size: var(--text-2xl);
  color: var(--primary);
}
.hiw .hiw__cards .hiw__card .hiw__card-title i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-3);
  color: var(--primary);
  background-color: hsla(142, 71%, 44%, 0.25);
  font-size: var(--text-base);
  border-radius: 50%;
}
.hiw .hiw__cards .hiw__card .hiw__card-title--secondary {
  color: var(--secondary);
}
.hiw .hiw__cards .hiw__card .hiw__card-title--secondary i {
  color: var(--secondary);
  background-color: var(--secondary-accent);
}
.hiw .hiw__cards .hiw__card .hiw__card-subtitle {
  color: var(--text-muted);
}
.hiw .hiw__cards .hiw__card .hiw__card-item {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  width: 100%;
}
.hiw .hiw__cards .hiw__card .hiw__card-item .hiw__card-item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 24px;
  height: 24px;
  font-size: var(--text-lg);
  font-weight: 600;
  padding: var(--space-4);
  border-radius: 100%;
  background-color: var(--primary);
}
.hiw .hiw__cards .hiw__card .hiw__card-item .hiw__card-item-number--secondary {
  background-color: var(--secondary);
}
.hiw .hiw__cards .hiw__card .hiw__card-item .hiw__card-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.hiw .hiw__cards .hiw__card .hiw__card-item .hiw__card-item-content .hiw__card-highlight {
  font-weight: 600;
}
.hiw .hiw__cards .hiw__card .hiw__card-item .hiw__card-item-content .hiw__card-description {
  color: var(--text-muted);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hiw {
    padding: var(--space-6);
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    max-width: 768px;
    margin: auto;
  }
  .hiw .hiw__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 768px;
  }
  .hiw .hiw__content {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    max-width: 768px;
  }
}
/* Notebook */
@media screen and (min-width: 1024px) {
  .hiw {
    max-width: 1024px;
  }
  .hiw .hiw__cards {
    max-width: 1024px;
  }
}
/* Desktop */
@media screen and (min-width: 1280px) {
  .hiw {
    max-width: 1280px;
  }
  .hiw .hiw__cards {
    max-width: 1280px;
  }
}/*# sourceMappingURL=hiw.css.map */