.header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  padding: var(--space-4) var(--space-6);
  border-bottom: 1px solid var(--border-muted);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  gap: var(--space-4);
  text-align: center;

  .brand {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    .brand__logo {
      font-size: var(--text-2xl);
      color: var(--primary);
    }

    .brand__title {
      font-size: var(--text-2xl);
      font-weight: 700;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--space-6);
    font-size: var(--text-xs);

    .navbar__list {
      display: flex;
      align-items: center;
      gap: var(--space-6);
    }

    .navbar__item {
      transition: color 0.3s;
    }

    .navbar__link {
      text-decoration: none;
      color: var(--text-muted);

      &:hover,
      &:focus {
        color: var(--primary-accent);
        transition: 250ms color;
      }
    }

    .navbar__button {
      padding: var(--space-3) var(--space-4);
      background-color: var(--primary);
      border-radius: 0.25rem;
      transition: background-color 0.3s, color 0.3s;

      &:hover,
      &:focus {
        background-color: var(--primary-accent);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: var(--space-4) var(--space-6);

    .navbar {
      width: auto;
      font-size: var(--text-sm);
    }
  }
}
